/* IPAD  */

@media screen and (max-width: 799px) {
    #feature .wrapper {
        padding: 0 20px;
    }
    .section-p1 {
        padding: 40px;
    }
    
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 300px;
        position: fixed;
        top: 0;
        right: -300px;
        padding: 80px 0 0 10px;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        background-color: #e3e6f3;
        transition: all 0.4s ease;
        
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #Close {
        display: inline;
        font-size: 24px;
        color: #222;
        position: absolute;
        top: 30px;
        left: 30px;
    }

    #img-slider .slide .info {
        padding: 0 40px;
    }

    #img-slider .slide img {
        object-position: top 30% right 30%;
    }
    
      #img-slider .slide .info h1 {
        padding-bottom: 7px;
        font-size: 45px;
        color: white;
    }

    #img-slider .slide .info h2 {
        font-size: 42px;
        color: white;

    }

    #img-slider .slide .info h3 {
        font-size: 35px;
        color: white;
    }

     #feature {
        justify-content: center;
     }

     #feature .fe-box {
        margin: 15px;
     }

     #banner {
        height: 38vh;
     }

     #sm-banner .banner-box {
        min-width: 100%;
        height: 50vh;
        margin-bottom: 20px;
     }

     #sm-banner .banner-box:nth-child(2) {
        margin-bottom: 0;
     }

     #banner3 {
        padding: 0 40px;
     }

     #banner3 .banner-box {
        width: 47%;
        
     }

     #newsletter {
        padding: 40px;
     }

     #newsletter .form {
        width: 70%;
     }

     footer {
        margin: 0;
     }


}


/* Mobile  */


@media screen and (max-width: 477px) {
    #Header {
        padding: 10px 30px;
    }

    #navbar {
        width: 225px;
    }
    
    .section-p1 {
        padding: 20px;
    }
    #img-slider .slide .info {
        padding: 0 20px;
    }
    #img-slider .slide .info h1 {
        padding-bottom: 7px;
        font-size: 35px;
        color: white;
    }

    #img-slider .slide .info h2 {
        font-size: 32px;
        color: white;

    }

    #img-slider .slide .info h3 {
        font-size: 25px;
        color: white;
    }
   
    #banner {
        height: 60vh;
    }
    
    #sm-banner .banner-box {
        height: 60vh;
    }

    #sm-banner .banner-box:nth-child(2) {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    /* blog page  */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
    
}

#blog .blog-details {
    width: 100%;
}

     #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* ABOUT PAGE */

#about-head {
    flex-direction: column;
}
    
#about-head img {
    width: 100%;
    margin-bottom: 20px;
}

#about-head div {
    padding-left: 0px;
}

/* page contact  */
#contact-details {
    flex-direction: column;
}

#contact-details .details {
    width: 100%;
    margin-bottom: 30px;
}

#contact-details .map {
    width: 100%;
}

}